.text-section {
  .title {
    font-family: 'Ubuntu-Bold';
    font-size: 2.5rem;
    color: #08173b;
    margin: 1rem 0;
  }
  .text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #aaa;
  }
}