.plan-item-div {
  padding: 1rem;
  border: .1rem solid #eee;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem 0;
  gap: .8rem;
  .name-and-price {
    .plan-name {
      font-family: 'Ubuntu-Medium';
      font-size: 1.5rem;
      line-height: 2rem;
      margin: .3rem 0;
    }
    .plan-price {
      font-size: 1.5rem;
      color: #bbb;
      margin: .3rem 0;
    }
    .yearly-price-discount {
      font-size: 1.3rem;
    }
  }
}

.selected {
  border: 1px solid #483eff;
  background-color: #fafafa;
}